*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 87%, 45%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
div.container {
    position: absolute;
    width: 1440px;
    height: 960px;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
}

div.qr-card {
    width: 320px;
    height: 500px;
    background-color: #ffffff(0, 0%, 100%);
    border-radius: 15px;
    box-shadow: 0px 25px 40px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

div.qr-card img{
    position: relative;
    width: 280px;
    height: 280px;
    border-radius: 10%;
    padding : 15px;
    display: flex;
    justify-content: center;
    align-items: center;   

}

div.qr-text h3{  
    width: 250px;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin-top: 20px;
    margin-bottom: 20px;
}

div.qr-text p{
    width: 240px;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin-top: 15px;
    color: hsl(216, 15%, 48%);
    font-size: 14px;
    line-height: 22px;
}

/* Responsive Design */
@media screen and (max-width: 768px){ 
    
    div.container {
        width: 100%;
        height: 100%;
        padding: 20px;
        box-sizing: border-box;
    }

    div.qr-card {
        width: 100%;
        height: auto;
    }

    div.qr-card img {
        width: 100%;
        height: auto;
    }

    div.qr-text h3, div.qr-text p {
        width: 100%;
    }
}